# Copy to traefik-dns.env (never commit it) and set the variables that
# https://go-acme.github.io/lego/dns/<TRAEFIK_DNS_PROVIDER>/ lists for your provider. For instance:

# duckdns
DUCKDNS_TOKEN=

# cloudflare
# CF_DNS_API_TOKEN=

# ovh
# OVH_ENDPOINT=ovh-eu
# OVH_APPLICATION_KEY=
# OVH_APPLICATION_SECRET=
# OVH_CONSUMER_KEY=

# gandiv5
# GANDIV5_PERSONAL_ACCESS_TOKEN=
